.list-group-item {
  line-height: 2.5;
}


#saved-articles {
  background-color: #E6E6FA;
  border-radius: 10px;
  margin-left: 30px;
}

#to-home:hover {
  cursor: pointer;
  color: #5A5A5A;
}


textarea, input {
  display: block;
  width: 100%;
  background-color: #FCF5C7;
}
input {
  height: 36px;
  font-size: 24px;
}
textarea {
  height: 200px;
  font-size: 18px;
}

.modal-footer {
  text-align: center;
}

#saved-note {
  min-width: 30em;
  display: inline-block;
  margin: auto;
}

#saved-notes {
  margin: auto;
  padding: 0px;
}

#note-title {
  display: inline-block;
}

#notes-del-button {
  display: inline-block;
  position: absolute;
  right: 10px;

}
















